.dragon-buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  &.-left {
    justify-content: flex-start;
  }

  &.-center {
    justify-content: center;
  }

  &.-right {
    justify-content: flex-end;
  }

  &.-resumo {
    margin-top: 40px;
  }
}


.dragon-button {
  background-color: transparent;
  border: 0;
  right: 20px;
  bottom: 20px;
  width: 48px;
  height: 48px;
  font-size: 0;
  padding: 10px;

  > svg {
    width: 100%;
    height: 100%;
  }

  &.-add {
    box-shadow: 0 0 5px rgba(#FAA916, .6);
    border-radius: 50%;
    background-color: #FAA916;
    position: fixed;
    z-index: 99999;
    text-transform: uppercase;
    cursor: pointer;

    span { 
      flex: 0 0 auto;
    }

    @media all and (min-width: 768px) {
      border-radius: 3px;
      position: relative;
      font-size: 16px;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;

      > svg {
        margin-left: 10px;
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }
  }

  &.-save,
  &.-back {
    border-radius: 3px;
    width: auto;
    height: auto;
    font-size: 16px;
    margin: 10px 5px 0;
    cursor: pointer;
  }

  &.-save {
    order: 1;
    margin-right: 0;
    border: 1px solid #48D2A0;
    background-color: #48D2A0;
    color:white;

    &:not([disabled]):hover {
      background-color: #3CA581;
    }
  }

  &.-back {
    color: #6D676E;
    border: 1px solid #6D676E;
    order: 0;
    
    &:not([disabled]):hover {
      background-color: #6D676E;
      color: white;
    }
  }

  &.-edit,
  &.-delete {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  &.-edit {
    > svg {
      fill: #FFBD02;
    }
  }

  &.-delete {
    > svg {
      fill: #F54B5E;
    }
  }

  &[disabled] {
    opacity: 0.5;
  }
}